@font-face {
    font-family: weibeitc;
    src: url(../fonts/weibeitcbold.ttf);
}
body{
	min-height: 730px;
	background-image:  url(../images/bg.jpg);
	background-size: cover;
	background-repeat: repeat-x;
}
.asterisk{
	color: red;
}
.ui-datepicker-year{
	display:none;
}
.marg-b0{
	margin-bottom: 0px !important;
}
.edit-column{
	display: none;
}
.profile-btn{
	display: none;
}
.alpha{
	padding-left: 0;
	padding-right: 0;
}
.marg-t50{
	margin-top: 50px;
}
.right{
	text-align: right;
}
.center{
	text-align: center;
}
.booking-wrapper{
	width: 100%;
	height: 100%;
	background-image:  url(../images/bg.jpg);
	background-size: cover;
	background-repeat: repeat-x;
}
.login-wrapper{
	width: 100%;
	height: 100%;
}
.register-wrapper{
	width: 100%;
}
.row{
	margin-bottom: 15px;
}
.search-btn, .payment-btn, .login-btn, .lost-password-btn, .register-btn, .reset-pw-btn ,.profile-btn ,.email-pw-btn ,.back-btn{
	font-size: 20px;
	width: 100%;
	padding: 8px;
}
.edit-btn{
	padding: 5px 15px;
	font-size: 16px;
}
.edit-btn img{
	height: 16px;
}
.search-btn, .payment-btn ,.edit-btn, .login-btn, .lost-password-btn, .register-btn, .reset-pw-btn ,.profile-btn,.email-pw-btn ,.back-btn{
	font-family: weibeitc;
	background-color: #6f6f6f;
	color: #fff;
	border-radius: inherit;
}
.search-btn img , .payment-btn img{
	height: 20px;
}
.search-btn:hover ,.payment-btn:hover ,.edit-btn:hover, .login-btn:hover, .lost-password-btn:hover, .register-btn:hover, .reset-pw-btn:hover ,.profile-btn:hover,.email-pw-btn:hover ,.back-btn:hover{
	background-color: #8e8e8e;
	color: #fff;
}
.currentDateTime{
	margin-top: 45px;
	color: #fff;
	margin-bottom: 3px;
	text-align: right;
}
.terms-of-use{
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 10px;
	font-size: 12px;
	color: #7a7a7a;
	border-bottom: 1px #000 solid;
}
.logout{
	line-height: 34px;
	font-size: 14px;
	font-weight: bold;
	color: #7a7a7a;
	cursor: pointer;
}
.logout:hover{
	background: rgba(255, 255, 255, 0.2);
}
.menu{
	font-size: 12px;
	background: rgba(255, 255, 255, 0.7);
}
.edit-profile{
	text-align: center;
	padding-left: 0; 
	padding-right: 0;
	padding-top: 11px;
	padding-bottom: 11px;
	font-weight: bold;
	color: #7a7a7a;
	font-size: 16px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.7);
}
.edit-profile:hover{
	background: rgba(205, 205, 205, 0.8);
}
.profile{
	border-left: 1px solid #A3A3A3;
	border-right: 1px solid #A3A3A3;
	cursor: pointer;
}
.profile:hover{
	background: rgba(255, 255, 255, 0.2);
}
.profile-title{
	font-weight: bold;
	text-decoration: underline;
}
.profile-detail{
	margin-left: -20px; 
	margin-right: -20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left:20px;
	padding-right:20px;
	color: #6f6f6f;
	background: rgba(255, 255, 255, 0.7);
}
.menu-column{
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #7a7a7a;
}
.title{
	font-family: weibeitc;
	color: #6f6f6f;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px; 
	margin-bottom: 10px;
	
	background: rgba(255, 255, 255, 0.7);
	
}
.detail , .login-detail{
	padding: 20px;
	background: rgba(255, 255, 255, 0.7);
}
input{
	border: none;
	padding: 5px 10px;
	width: 100%;
	border-radius: inherit;
	color: #7a7a7a;
}
.input-append{
	background-color: #fff;
}
.input-append input{
	width: 90%;
}
.input-append .add-on{
	width: 100%;
}
.add-on i{
	width: 100%;
	background:url(../images/arrow.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 1px;
	padding: 7px;
}
.icon-arrow {
	background:url(../images/arrow.png);
}
.timepicker-picker tr:first-child .btn{
	background:#ddd;
}
.timepicker-picker tr:nth-child(3) .btn{
	background:#ddd;
}
.detail-title{
	color: #7a7a7a;
}
.dropdown-toggle{
	border: none;
	border-radius: inherit;
	width: 100%;
	background-color: #fff !important;
}
.bootstrap-select{
	width: 100% !important;
}
.caret{
	border-top: 7px solid #AFAFAF;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	right: 8px !important;
}
.calendar-icon{
	background-image: url(../images/can.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 8px;
	margin-right: -3px;
	cursor: pointer;
}
.input-group-addon{
	border-radius: inherit;
	background-color: #fff;
	border: none;
}
/*** Payment ***/
.confirm-detail-info, .payment-detail,.payment-btn,.edit-btn{
	display: none;
}
.confirm-detail-info, .detail-info, .payment{
	font-family: weibeitc;
	color: #6f6f6f;
	font-size: 16px;

}
.payment{
	padding-left: 15px;
	text-align: left;
	background: rgba(255, 255, 255, 0.7);
}
.payment-detail{
	margin-top: 10px;
}
.detail-info span{
	color: #7a7a7a;
}
.displayNone{
	display:none;
}
.lost-pw{
	margin-right: 10px;
	text-decoration: none;
	cursor: pointer;
}
.register-user{
	cursor: pointer;
	text-decoration: none;
	cursor: pointer;
}
.btn-login{
	font-family: weibeitc;
	color: #6f6f6f;
	padding: 20px 0px;
	margin-bottom: 10px;
	margin-top: 150px;
	font-size: 24px;
	text-align: center;
	background: rgba(255, 255, 255, 0.7);
}
.login-action{
	font-size: 20px;
	padding: 4px 50px;
	color: #6f6f6f;
	text-decoration: none;
	background: rgba(255, 255, 255, 0.7);
}
.login-action:hover{
	color: #b2b2b2;
	text-decoration: none;
	cursor: pointer;
}
.lost-password-note{
	color: #d68a86;
	font-weight: 600;
}
.register-content{
	margin-bottom: 40px;
}
.reset-pw-success, .booking-success, .login-success, .email-verify-success{
	margin-top: 150px;
	padding: 50px;
	background: rgba(255, 255, 255, 0.7);
}
.user-name{
	font-size: 19px;
	margin-bottom: 35px;
	vertical-align: top;
	color: #64809f;
}
.uname{
	color: #30408e;
	cursor: pointer;
	text-decoration: underline;
}
.current-date{
	font-size: 18px;
	color: #9d9d9d;
	font-family: sans-serif;
}
.login-note {
	font-size: 18px;
	color: #9d9d9d;
	font-family: sans-serif;
	font-weight: bold;
}
.login-success-title-welcome{
	font-size: 40px;
	line-height: 35px;
}
.login-success-title{
	font-size: 35px;
	line-height: 35px;
}
.success-title{
	font-family: weibeitc;
	color: #6f6f6f;
	font-size: 40px;
}
.check-email-title{
	font-family: weibeitc;
	color: #6f6f6f;
	font-size: 30px;
}
.check-your-email{
	color: #7a7a7a;
	letter-spacing: 1px;
	margin-top: -5px;
	font-size: 16px;
}
.redirect-page{
	width: 100%;
	color: #64809f;
	margin-top: 40px;
	text-align: center;
}
.logout-btn{
	color: #fff;
	cursor: pointer;
}
.logout-btn:hover{
	color: #E4E4E4;
	text-decoration: underline;
	cursor: pointer;
}
.form-booking, .form-check-booking{
	margin-bottom: 0px;
}
.logout-row{
	padding-right: 5px;
	padding-top: 5px;
	text-align: right;
}
.loading{
	z-index: 99;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	display: none;
	width: 100%;
	background-color:  rgba(0, 0, 0, 0.8);
}
.loading img{
	position: absolute;
	width: 40px;
	top: 45%;
	left: 48.5%;
}
.container{
	margin-bottom: 10px;
}

@media screen and (min-width: 550px) {
	.container{
		width: 550px;
	}
	.title{
		font-size: 24px;
	}
	.menu{
		margin-left: 0px;
	}
	.login-container, .booking-container {
		width: 400px;
		margin: 0 auto;
	}
}
@media screen and (min-width: 768px) {
	.menu{
		margin-left: 33px;
	}
}
@media screen and (max-width: 550px) {
	.container{
		width: 100%;
	}
	.title{
		padding-right: 0px;
		font-size: 24px;
	}
	.menu{
		margin-left: 0px;
	}
	.login-container, .booking-container{
		width: 100%;
		margin: 0 auto;
	}
}
